.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
     flex: 20%;
     background-color: lightgray;
     background: url("images/logoNQ.png") center 100% 100% ;
     aspect-ratio: 6/1;
}
.menu{
    flex: 5%;
    background-color: blue;
    display: flex;
    align-items: center;
}
.menu a{
    padding: 15px 30px; 
    color: magenta;
}
.menu a:hover{
    background-color: red;
    color: blue;
}
.content{
    flex: 70%;
    background-color: white;
}
.content iframe{
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
}       
.footer{
    flex: 5%;
    background-color: lightgray;
}
.tieude{
    color: tomato;
    font-weight: bold;
    font-size: 20pt;
}
.noidung{
    color: black;
    font-style: normal;
    font-size: 14pt;
}
.backup{
    color: D11111;
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
}
.word{
    color: black;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}
